build
output
/.vscode
analisadorlexsint.exe
testecerto.1.lex
testecerto.1.syntax

testecerto.2.lex
testecerto.2.syntax

testecerto.3.lex
testecerto.3.syntax

testeerrado.1.lex
testeerrado.1.syntax

testeerrado.2.lex
testeerrado.2.syntax

testeerrado.3.lex
testeerrado.3.syntax
